@model BetterCalendar.Models.DayViewModel
@{
    ViewData["Title"] = "Day";
}
<div id="app">
    <!-- modal for new event form-->
    <div v-if="modalOpened" v-on:click="closeModal($event)" id="overlay" v-cloak>
        <div id="modal">
            <div id="close-modal-button" v-on:click="closeModal">
                &times;
            </div>
            <div class="form-wrapper">
                <h3>Dodaj nowe wydarzenie</h3>
                <form asp-action="CreateEvent" asp-controller="Home" method="post" id="newEventForm">
                    @Html.AntiForgeryToken()

                    @Html.HiddenFor(x => x.FullDate)
                    @Html.HiddenFor(x => x.DayName)
                    @Html.HiddenFor(x => x.DayNumber)
                    @Html.HiddenFor(x => x.MonthNameDop)

                    <div class="errors">
                        <ul>
                            <li v-for="err in errors">
                                {{ err }}
                            </li>
                        </ul>
                    </div>

                    <div class="form-group">
                        <input asp-for="@Model.newEvent.Title" placeholder="Dodaj tytuł" class="input-event" v-model="title" />
                    </div>
                    <div class="form-group">
                        <input asp-for="@Model.newEvent.Description" placeholder="Opis (opcjonalnie)" class="input-event" />
                    </div>

                    <label>od: </label>
                    <div class="hours">
                        <input asp-for="@Model.newEvent.Start" type="time" value="12:00" class="input-hours" v-model="start" />
                    </div>

                    <label>do: </label>
                    <div class="hours">
                        <input asp-for="@Model.newEvent.End" type="time" value="13:00" class="input-hours" v-model="end" />
                    </div><br />

                    <input type="submit" class="button" value="Zapisz" v-on:click.prevent="checkForm"/>

                </form>
            </div>
        </div>
    </div>

    <div class="big-date">
        <h2>@Model.DayName,</h2>
        <h4>@Model.DayNumber @Model.MonthNameDop</h4>
    </div>

    <button v-on:click="openModal" class="button">Dodaj wydarzenie</button>


    @if (Model.Events.Count > 0)
    {
        foreach (var e in Model.Events)
        {
            <div class="event-card">
                <p class="event-hours">@e.Start.ToString("HH:mm") 
                    @if(e.End != null)
                    {
                        <span> - @Convert.ToDateTime(e.End).ToString("HH:mm")</span>
                    }
                </p>
                <div class="event-delete-button">
                    @{
                        var routeData = new Dictionary<string, string>()
                        {
                            ["eventId"] = e.Id.ToString(),
                            ["returnUrl"] = $"/day/{Model.FullDate.ToString("MM-dd-yyyy")}"

                        };
                    }
                    
                    <a asp-action="delete" asp-controller="Home" asp-all-route-data="@routeData">&times;</a>

                </div>
                <div class="event-title">@e.Title</div>
                @if(e.Description != null)
                {
                    <div class="event-description">
                        <p>@e.Description</p>
                    </div>
                }

            </div>

        }
    }
</div>

<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script src="~/js/main.js"></script>
